* {
    padding: 0;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

/*Seção Topo*/
.secao-topo {
    border-bottom: 1px solid #d5d5d5;
}

.secao-largura-limitada {
   width: 800px;
   margin: 0 auto;
}
.secao-topo p {
   padding: 20px;
   font-size: 22px;
   font-weight: bold;
}
h1, h2, h3 {
   margin: 0px;
}
h3 {
   font-size: 28px;
   margin-bottom: 20px;
}
.secao-background-conteudo {
   text-align: right;
   padding: 50px 20px;
}
/*Fim Seção Topo*/

/*Seção Conteúdo*/
.secao-conteudo {
   padding: 50px 20px;
}
.secao-conteudo span {
   border-left: 1px solid #000;
   padding-left: 10px;
   font-size:20px;         
}  
.img-conteudo {
   width: 250px;
   height: 180px;
}   
/*Fim Seção Conteúdo*/

/*Seção Divisão*/
.secao-background-divisao h3 {
   font-size: 36px;
   background-color: #fff;
   width: 200px;
   margin: 0 auto;
   border-radius: 20px;
}
/*Fim Seção Divisão*/

/*Seção Imagens*/
.secao-background-capa {
   min-height: 500px;
   background-image: url("img/capa.jpg");
   background-size: cover;
}
.secao-background-divisao {
   padding: 50px 0;
   text-align: center;
   background-image: url("img/fundo.jpg");
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
}
/*Fim Seção Imagens*/

